<!DOCTYPE html>
<html>
  <head>
    <title>DunderMifflinPetShop</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <h1 style=" color: white; font-size: 40px">Dunder Mifflin, Inc</h1>
  <h2 style=" color: white">Paper Company</h2>

  <nav class = "navbar">
    <ul>
      <li> <%= link_to "Home", '/' %></li>

      <li class = "dropdown">
        <%= link_to "Employees", employees_path, class: "dropbtn"%>
      <div class="dropdown-content">
      <% Employee.all.each do |employee| %>
      <%= link_to employee.to_s, employee_path(employee) %>
      <% end %>
      </div></li>

      <li class = "dropdown">
        <%= link_to "Dogs", dogs_path, class: "dropbtn"%>
        <div class="dropdown-content">
        <% Dog.all.each do |dog| %>
        <%= link_to dog.name, dog_path(dog) %>
        <% end %>
        </div>
      </li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>

  <footer><div class="footer">
    Website designed by Lizzy
  </div></footer>
</html>
